{% extends 'social/layout.html' %}

{% block content %}

<h1>HOLA</h1>
<input type="submit" value ="crear" name="crear" href='http://127.0.0.1:8000/registro/'>


<h1>gerentes</h1>


{% for gerente in gerentes %}


<div>
    {{gerente.nombre_gerente}}
    {{gerente.estado_gerente}}

    <form action="{% url 'admin_borrar_gerentes' gerente.id_gerente %}" method="POST" >
        {% csrf_token %}
        <button>Activar/Desactivar</button>
    </form>

</div>

{%endfor%}


<h1>operadores</h1>

{% for operador in operadores %}


<div>
    {{operador.nombre_operador}}
    {{operador.estado_operador}}
    <form action="{% url 'admin_borrar_operadores' operador.id_operador %}" method="POST" >
        {% csrf_token %}
        <button>Activar/Desactivar</button>
    </form>

</div>

{%endfor%}




{% endblock %}