{% extends 'social/layout.html' %}



{% block content %}

<h1>HOLA ADMINISTRADOR</h1>

<form action="{% url 'admin_crear' %}">
    {% csrf_token %}
    <button>Crear usuarios</button>
</form>


<h1>gerentes</h1>


{% for gerente in gerentes %}


<div>
    {{gerente.id_gerente}}
    {{gerente.nombre_gerente}}
    {{gerente.celular_gerente}}
    {{gerente.email_gerente}}
    {{gerente.direccion_gerente}}
    {{gerente.estado_gerente}}

    <form action="{% url 'admin_borrar_gerentes' gerente.id_gerente %}" method="POST" >
        {% csrf_token %}

        <button>Activar/Desactivar</button>

    </form>

    <form action="{% url 'admin_actualizar_gerente1' gerente.id_gerente %}">
        {% csrf_token %}
        <button>Actualizar gerente</button>
    </form>

</div>
{%endfor%}


<h1>operadores</h1>

{% for operador in operadores %}


<div>
 
    {{operador.id_operador}}
    {{operador.nombre_operador}}
    {{operador.celular_operador}}
    {{operador.email_operador}}
    {{operador.direccion_operador}}
    {{operador.estado_operador}}



    <form action="{% url 'admin_borrar_operadores' operador.id_operador %}" method="POST" >
        {% csrf_token %}
        <button>Activar/Desactivar</button>
    </form>
 
    <form action="{% url 'admin_actualizar_operador' operador.id_operador %}">
        {% csrf_token %}
        <button>Actualizar operador</button>
    </form>



</div>

{%endfor%}


<h1>Clientes</h1>

{% for cliente in clientes %}


<div>
    {{cliente.id_cliente}}
    {{cliente.nombre_cliente}}
    {{cliente.celular_cliente}}
    {{cliente.email_cliente}}
    {{cliente.direccion_cliente}}
    {{cliente.estado_cliente}}
    {{cliente.tipo_cliente}}



    <form action="{% url 'admin_borrar_clientes' cliente.id_cliente %}" method="POST" >
        {% csrf_token %}
        <button>Activar/Desactivar</button>
    </form>

    <form action="{% url 'admin_actualizar_cliente' cliente.id_cliente %}">
        {% csrf_token %}
        <button>Actualizar cliente</button>
    </form>

</div>

{%endfor%}
{% endblock %}