{% extends 'social/layout.html' %}

{% block content %}


<form id="form" action="#" method="POST">
    
    {% csrf_token %}
	<label  for="username">cedula</label>
	<input type="text" placeholder="Ingresa usuario" name="id" >

    <label  for="username">tipo id</label>
	<input type="text" placeholder="Ingresa usuario" name="tipoid" >

    <label  for="username">nombre</label>
	<input type="text" placeholder="Ingresa usuario" name="nombre" >

    <label  for="username">celular</label>
	<input type="text" placeholder="Ingresa usuario" name="celular" >

    <label  for="username">email</label>
	<input type="text" placeholder="Ingresa usuario" name="email" >

    <label  for="username">direccion</label>
	<input type="text" placeholder="Ingresa usuario" name="direccion" >
	
	<label for="password">Contraseña</label>
	<input  type="text" placeholder="Ingresa contraseña" name="contra">

	<select name = "tipousuario">
		<option value = "cliente">cliente</option>
		<option value = "gerente">Gerente</option>
		<option value = "operador">Operador</option>
	</select>
	
	<button type="submit" value="registrar">registrar</button>
	<a href="#">¿No te has registrado?</a>
	
</form>

{% endblock %}